// main: styles.less
main {
  max-width: 1920px;
  margin: 0 auto;
}

.main-content {
  width: 62.5%;
  margin: 0 auto;
  padding: 36px 67px 35px 71px;
  background-color: #ffffff;
}

.main-content__title {
  margin-bottom: 40px;
  font-family: "PT Sans Caption", sans-serif;
  font-weight: 400;
  font-size: 28px;
  letter-spacing: -0.02em;
  line-height: 22px;
  color: #000000;
}

.main-content__wrapper {
  display: flex;
}

@media (max-width: 1919px) {
  main {
    max-width: 1919px;
  }

  .main-content {
    width: 1200px;
  }
}


@media (max-width: 1439px) {
  main {
    max-width: 1439px;
  }

  .main-content {
    width: 1024px;
    margin: 0 auto;
    padding: 29px 10px 30px;
  }

  .main-content__title {
    margin-bottom: 42px;
  }
}

@media (max-width: 1023px) {
  main {
    max-width: 1023px;
  }

  .main-content {
    width: 100%;
    margin: 0;
    padding: 34px 0 37px;
  }

  .main-content__wrapper {
    width: 100%;
  }

  .main-content__title {
    margin-left: 15px;
  }

  .content__aside {
    display: none;
  }
}

@media (max-width: 767px) {
  main {
    max-width: 767px;
  }

  .main-content {
    padding-top: 20px;
    padding-bottom: 0;
  }

  .main-content__title {
    margin-left: 11px;
    margin-bottom: 25px;
    font-size: 20px;
  }
}
