// main: styles.less

.small-article__hover-wrapper {

  position: relative;
  margin-right: 20px;

  &::before {
    position: absolute;
    z-index: 10;
    bottom: 8px;
    left: 8px;
    width: 19.75px;
    height: 20px;
    content: "";
    background-image: url(../img/hover/bottom-left.png);
    opacity: 0;
    transition: 0.5s;
  }

  &::after {
    position: absolute;
    z-index: 10;
    bottom: 8px;
    right: 8px;
    width: 19.75px;
    height: 20px;
    content: "";
    background-image: url(../img/hover/bottom-right.png);
    opacity: 0;
    transition: 0.5s;
  }
}

.small-article__hover-wrapper:hover {

  &::before {
    opacity: 1;
  }

  &::after {
    opacity: 1;
  }
}

.small-article {
  width: 250px;
  height: 177px;
  margin-right: 20px;
  padding: 14px 20px 20px;
  background-size: cover;

  &--first {
    background-image: url(../img/content/small-article1.jpg);
  }

  &--second {
    background-image: url(../img/content/small-article2.jpg);
  }

  &--third {
    background-image: url(../img/content/small-article3.jpg);
  }

  &:last-child {
    margin-right: 0;
  }

  // hover
  position: relative;

  &::before {
    position: absolute;
    top: 8px;
    left: 8px;
    width: 19.75px;
    height: 20px;
    content: "";
    background-image: url(../img/hover/top-left.png);
    opacity: 0;
    transition: 0.5s;
  }

  &::after {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 19.75px;
    height: 20px;
    content: "";
    background-image: url(../img/hover/top-right.png);
    opacity: 0;
    transition: 0.5s;
  }
}

.small-article:hover {

  &::before {
    opacity: 1;
  }

  &::after {
    opacity: 1;
  }
}

.small-article__title {
  margin-bottom: 76px;
  font-family: 'Brutal Type', sans-serif;
  font-weight: 700;
  font-size: 15px;
  letter-spacing: -0.02em;
  line-height: 24px;
  color: #ffffff;
  text-shadow: rgba(0, 0, 0, 0.33) 0px 1px 1px;
}

.small-article--second {
  .small-article__title {
    margin-right: 20px;
  }
}

.small-article__info {
  margin-left: 21px;
}

@media (max-width: 1439px) {
  
  .small-article {
    flex-basis: 250px;
    flex-shrink: 0;
    min-width: 250px;
  }
}

@media (max-width: 1023px) {

  .small-article__hover-wrapper {
    width: 32.5%;
  }

  .small-article__hover-wrapper:hover {

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }

  .small-article {
    width: 100%;
  }

  .small-article:hover {

    &::before {
      display: none;
    }

    &::after {
      display: none;
    }
  }
}

@media (max-width: 767px) {
  .small-article__hover-wrapper {
    width: auto;
  }
}
